 /* STYLING PAGE */
 body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

  .show {
    display: block;
    opacity: 1;
    transition: opacity 0.5s;
  }
  #gif-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #gif {
    max-height: 100%;
    max-width: 100%;
  }

 